.home{
   display: flex;
   justify-content: space-between;
   height: 100vh;
}

.home-left{
   padding: 1.5rem 2rem;
   flex: 3;
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
   /* the .left-h contains <Header/> (img + ul), a div and a span; aligning them as columns will put the <Header/> in the first column, but the header has a display of flex so the img and the ul will be aligned horizontally */
}

.home-right{
   flex: 2;
   position: relative;
   background: var(--orange);
}

.join-right:hover{
   box-shadow: 0px 0px 25px white;
}

.ad{
   border: 3px solid gray;
   color: white;
   margin-top: 2rem;
   border-radius: 3rem;
   width: fit-content;
   padding: 10px 5px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   font-size: 1.3rem;
}

.ad>span{
   z-index:2;
   padding: 0 5px;
}
.ad>div:hover{
   box-shadow: 0 0 15px white;
}

.ad>div{
   position: absolute;
   background: var(--orange);
   height: 80%;
   width: 5rem;
   left: 5px;
   border-radius: 3rem;
   z-index:1;
}

.home-text{
   display: grid;
   flex-direction: column;
   gap: 1.5rem;
   font-size: 4rem;
   font-weight: bold;
   text-overflow: inherit;
   color: #dddbd4;
}

.home-subtitle{
   font-size: 1.75rem;
   font-weight: bold;
   color: #dddbd4;
   width: 80%;
}

.figures{
   display: flex;
   gap: 1.3rem;
}

.figures>div{
   display: flex;
   flex-direction: column;
   background: var(--orange);
   border-radius: 8px;
   padding: 10px;
}

.figures>div>span:nth-of-type(1){
   color: #333;
   font-size: 1.8rem;
   font-weight: bold;
   text-align: center;
}

.figures>div>span:nth-of-type(2){
   color: #333;
   font-size: 1.3rem;
   font-weight: bold;
   text-align: center;
}

.home-buttons{
   display: flex;
   gap: 1rem;
}

.home-buttons>:nth-child(1){
   border: 2px solid var(--orange);
   background: #333;
   color: var(--orange)
}
.home-buttons>:nth-child(2){
   color: #333;
   background: var(--orange);
}

.home-right>.btn{
   position: absolute;
   right: 3rem;
   top: 2rem;
   background: #333;
   color: var(--orange);
}

.heart-rate{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   background: var(--darkGray);
   width: fit-content; 
   padding: 1rem;
   align-items: center;
   border-radius: 5px;
   position: absolute;
   right: 26rem;
   top: 2rem;
}

.heart-rate>:nth-child(2){ 
   color: var(--gray);
   font-size: 1.1rem;
}
.heart-rate>:nth-child(3){ 
   color: white;
   font-size: 1.5rem;
}

.fit-guy{
   position: absolute;
   bottom: 0;
   right: 9.7rem;
   width: 27.5rem;
}

.fit-gal{
   position: absolute;
   width: 18rem;
   right: 1.5rem;
   bottom: 0;
}

.stripes{
   position: absolute;
   top: 8rem;
   right: 30rem;
   z-index: -1;
   width: 15rem;
}

.calories{
   display: flex;
   background: var(--kcalColor);
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   
   position: absolute;
   top: 30rem;
   right: 29rem;
   padding:7px 0 7px 7px;
}

.calories > img{
   width: 3rem;
   height: 3rem;
}
.calories > div{
   text-align: center;
   font-size: 1.1rem;
   color: var(--lightGray);
   width: 8rem;
}

.calories > div >:nth-child(1){
   text-align: center;
   color: var(--rose);
   font-weight: bold;
   font-size: 1.2rem;
}
.calories > div >:nth-child(2){
   text-align: center;
   font-size: 1.1rem;
   color: var(--lightGray);
}
