.home{
   display: flex;
   justify-content: space-between;
}
li{
   text-align: center;
}

.home-left{
   padding: 1rem 2rem;
   flex: 3;
   display: flex;
   gap: 1.5rem;
   flex-direction: column;
}

.home-right{
   flex: 2;
   position: relative;
   background: var(--orange);
}

/* Left-side text and buttons */
.home-text{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   font-size: 4rem;
   font-weight: bold;
   text-overflow: inherit;
   color: #dddbd4;
}

#sculpt{
   width: fit-content;
   font-size: 5rem;
   font-weight: normal;
   text-decoration: underline;
}

.home-text-subtitle{
   font-size: 1.75rem;
   font-weight: bold;
   color: #dddbd4;
   width: 80%;
}

.figures{
   display: flex;
   gap: 1.3rem;
}

.figures>div{
   display: flex;
   flex-direction: column;
   background: transparent;
   border: 2px solid var(--orange);
   border-radius: 8px;
   padding: 10px;
}

.figures>div>span:nth-of-type(1){
   color: white;;
   font-size: 1.8rem;
   font-weight: bold;
   text-align: center;
}

.figures>div>span:nth-of-type(2){
   color: white;
   font-size: 1.3rem;
   font-weight: bold;
   text-align: center;
}

.home-buttons{
   display: flex;
   gap: 1rem;
}

.home-buttons>:nth-child(1){
   border: 2px solid var(--orange);
   background: var(--orange);
   color: #333;
}
.home-buttons>:nth-child(2){
   color: white;
   background: transparent;
   border: 2px solid var(--orange);
}

.home-right>.btn{
   position: absolute;
   right: 3rem;
   top: 2rem;
   background: #333;
   color: var(--orange);
}

/* Hero Images */
.fit-guy{
   position: absolute;
   bottom: 0;
   right: 9.7rem;
   width: 27rem;
}

.fit-gal{
   position: absolute;
   width: 17.5rem;
   right: 1.5rem;
   bottom: 0;
}

.stripes{
   position: absolute;
   top: 6rem;
   right: 30rem;
   z-index: -1;
   width: 15rem;
}

/* Heart Rate */
.heart-rate{
   display: flex;
   flex-direction: column;
   gap: .5rem;
   background: var(--darkGray);
   width: fit-content; 
   padding: 1rem;
   align-items: center;
   border-radius: 5px;
   position: absolute;
   left: 1rem;
   top: 1.5rem;
}

.heart{
   width: 3.3rem;
   height: 3.3rem;
   animation: scale 1s linear infinite;
}

.heart:hover{
   transform: scale(2)
}

.heart-rate>:nth-child(2){ 
   color: var(--gray);
   font-size: 1.1rem;
}
.heart-rate>:nth-child(3){ 
   color: white;
   font-size: 1.5rem;
}

@keyframes scale{
   0%{
      transform: scale(1)
   }
   50%{
      transform: scale(1.1)
   }
   100%{
      transform: scale(1)
   }
}

/* Calories */
.calories{
   display: flex;
   background: var(--kcalColor);
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   
   position: absolute;
   top: 28rem;
   right: 28rem;
   padding:7px 0 7px 7px;
}

.calories > img{
   width: 3rem;
   height: 3rem;
}
.calories > div{
   text-align: center;
   font-size: 1.1rem;
   color: var(--lightGray);
   width: 8rem;
}

.calories > div >:nth-child(1){
   text-align: center;
   color: var(--persimmon);
   font-weight: bold;
   font-size: 1.2rem;
}
.calories > div >:nth-child(2){
   text-align: center;
   font-size: 1.1rem;
   color: var(--lightGray);
}

@media screen and (max-width: 1024px){
   .home-left{
      padding: 0.5rem 1rem;
      gap: 1.5rem;
   }
   .home-text{
      gap: 0.7rem;
      font-size: 2.3rem;
   }
   
   #sculpt{
      font-size: 3rem;
   }

   .home-text-subtitle{
      font-size: 1.25rem;
   }
   
   .figures{
      gap: 1rem;
   }
   
   .figures>div{
      padding: 7px;
   }
   
   .figures>div>span:nth-of-type(1){
      font-size: 1.2rem;
   }
   
   .figures>div>span:nth-of-type(2){
      font-size: 1rem;
   }
   
   .home-buttons{
      gap: 0.7rem;
   }

   .home-right>.btn{
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      background: #333;
      color: var(--orange);
   }

   .fit-guy{
      bottom: 0;
      right: 4rem;
      width: 17rem;
   }
   
   .fit-gal{
      width: 11rem;
      right: 0;
      bottom: 0;
   }
   
   .stripes{
      top: 6rem;
      right: 12rem;
      z-index: -1;
      width: 10rem;
   }

   .heart-rate{
      gap: .25rem;
      padding: 0.5rem;
      left: 1rem;
      top: 1.5rem;
   }
   
   .heart{
      width: 2rem;
      height: 2rem;
   }
   
   .heart-rate>:nth-child(2){ 
      font-size: 1rem;
   }
   .heart-rate>:nth-child(3){ 
      color: white;
      font-size: 1.1rem;
   }
   .calories{
      top: 17rem;
      right: 16rem;
      padding: 5px 0 5px 5px;
      width: 12vw;
   }
   
   .calories > img{
      width: 0;
      height: 0;
   }
   .calories > div{
      font-size: 1rem;
   }
   
   .calories > div >:nth-child(1){
      font-size: 1.1rem;
   }
   .calories > div >:nth-child(2){
      font-size: 1.1rem;
   }
}
